body {
	margin: 0 10% 10% 10% ;
    display: inline-block;
    font-size: 16px;
    font-family: 'Times New Roman';
    line-height: 20px;
    height: 10px;
}

h1 {
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

.list {
	font-weight: bold;
}

#img {
	position: center;
	height: 50%;
	width: 50%;
}